@use "../styles/abstracts/colors" as *;

.home {
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1em;
  max-width: 100%;
  overflow-x: hidden;
  svg {
    font-size: 60px;
    margin-top: 1em;
    margin-left: 2.2em;
    margin-right: 2.2em;
  }
}

.textContainer {
  align-items: center;
  padding-top: 4rem;
  h2 {
    font-weight: bold;
    font-size: 80px;
    line-height: 1.2;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
  }
  h1 {
    font-size: 170px;
    /* Increase line height for better readability */
    line-height: 1.2;
    /* Add text shadow to create contrast against background */
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
  }
}

.prompt {
  /* Add some margin to the prompt to separate it from the header */
  margin-top: 2rem;
  /* Increase font size for better visibility */
  font-size: 24px;
  /* Add some padding to the icons to increase hit area */
  a {
    display: inline-block;
    padding: 0.5rem;
  }
  svg {
    font-size: 50px;
  }
}

.arrow {
  svg {
    margin-top: 3.54em;
  }
}

.light {
  svg {
    color: $name;
    stroke: black;
    stroke-width: 12;
    shape-rendering: auto;
  }
  h1 {
    color: $name;
    -webkit-text-stroke: 1.5px black;
  }
}

@media screen and (min-width: 768px) {
}

@media screen and (max-width: 768px) {
  .textContainer {
    h2 {
      font-size: 45px;
    }
    h1 {
      font-size: 60px;
    }
  }
  .prompt {
    svg {
      font-size: 50px;
      margin: 0.4em;
    }
  }
  .arrow {
    svg {
      margin: 1em;
    }
  }
}

.dark {
  svg {
    color: $secondary-color;
    stroke: rgb(255, 255, 255);
    stroke-width: 12;
    shape-rendering: auto;
  }
  h1 {
    color: $secondary-color;
    -webkit-text-stroke: 1.5px rgb(255, 255, 255);
  }
  h2,
  h3 {
    color: white;
  }
}
