@use "../styles/abstracts/colors" as *;

.home {
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1em;
  max-width: 100%;
  overflow-x: hidden;
  svg {
    font-size: 60px;
    margin-top: 1em;
    margin-left: 2.2em;
    margin-right: 2.2em;
  }
}

.textContainer {
  align-items: center;
  padding-top: 4rem;
  max-width: 100%;
  h2 {
    font-weight: bold;
    font-size: 80px;
    line-height: 1.2;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
  }
  h1 {
    font-size: 160px;
    line-height: 1.2;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
  }
}

.prompt {
  /* Add some margin to the prompt to separate it from the header */
  margin-top: 2rem;
  /* Increase font size for better visibility */
  font-size: 24px;
  /* Add some padding to the icons to increase hit area */
  a {
    display: inline-block;
    padding: 0.5rem;
  }
  svg {
    font-size: 50px;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.arrowDown {
  animation: bounce 1s infinite;
}

.light {
  svg {
    color: $name;
    stroke: black;
    stroke-width: 12;
    shape-rendering: auto;
  }
  h1 {
    color: $name;
    -webkit-text-stroke: 1.5px black;
  }
}

@media screen and (max-width: 1440px) {
  .textContainer {
    h1 {
      font-size: 150px;
    }
  }
}
@media screen and (max-width: 1366px) {
  .textContainer {
    h1 {
      font-size: 140px;
    }
  }
}

@media screen and (max-width: 1280px) {
  .textContainer {
    h1 {
      font-size: 120px;
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .textContainer {
    h1 {
      font-size: 120px;
    }
  }
}

@media only screen and (min-width: 843px) and (max-width: 1024px) {
  .textContainer {
    h1 {
      font-size: 100px;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 843px) {
  .textContainer {
    h1 {
      font-size: 90px;
    }
  }
}

@media screen and (max-width: 768px) {
  .textContainer {
    h2 {
      font-size: 45px;
    }
    h1 {
      font-size: 60px;
    }
  }
  .prompt {
    svg {
      font-size: 40px;
      margin: 0.4em;
    }
  }
  .arrowDown {
    svg {
      margin: 1em;
    }
    &:hover {
      transform: scale(1.1);
      transition: transform 0.2s ease-in-out;
    }
  }
}
@media screen and (max-width: 425px) {
  .textContainer {
    h2 {
      font-size: 30px;
    }
    h1 {
      font-size: 40px;
    }
  }
  .prompt {
    h3 {
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 320px) {
  .textContainer {
    h2 {
      font-size: 30px;
    }
    h1 {
      font-size: 35px;
    }
  }
  .prompt {
    h3 {
      font-size: 20px;
    }
  }
}

.dark {
  svg {
    color: $secondary-color;
    stroke: rgb(255, 255, 255);
    stroke-width: 12;
    shape-rendering: auto;
  }
  h1 {
    color: $secondary-color;
    -webkit-text-stroke: 1.5px rgb(255, 255, 255);
  }
  h2,
  h3 {
    color: white;
  }
}
