@use "../../styles/abstracts/colors" as *;

.aboutMe {
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1em;
  max-width: 100%;
  overflow-x: hidden;
}

.textContainer {
  h1 {
    font-size: 60px;
  }
}

.cardAbout {
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.6);
  padding: 1rem;

  width: 80%;
  margin: auto;
  margin-bottom: 12.7em;
  p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
}

.arrowUp {
  font-size: 60px;
}

.arrowDown {
  font-size: 60px;
}

@media screen and (max-width: 768px) {
  .textContainer {
    h1 {
      font-size: 60px;
    }
  }
  .arrowDown {
    svg {
      margin-top: 1em;
    }
  }
}

.light {
  svg {
    color: $name;
    stroke: black;
    stroke-width: 12;
    shape-rendering: auto;
  }
  h1 {
    color: $name;
    -webkit-text-stroke: 1.5px black;
  }
  .cardAbout {
    background-color: #f3f3fa;
  }
}

.dark {
  svg {
    color: $secondary-color;
    stroke: rgb(0, 0, 0);
    stroke-width: 12;
    shape-rendering: auto;
  }
  h1 {
    color: $secondary-color;
    -webkit-text-stroke: 1.5px rgb(0, 0, 0);
  }
  .cardAbout {
    background-color: $card-color-dark;
    p {
      color: $white;
    }
  }
}
